<section class="hero is-medium header">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <h3 class="title is-3">Instargram</h3>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="tabs is-right">
              <ul>
                <li class="is-active"><a>Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Blogs</a></li>
                <li><a href="">Help</a></li>
              </ul>
              <span class="navbar-item">
                <a class="button is-white is-outlined" href="/form">
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span title="Hello from the other side">Upload a blog</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">The new standard in &lt;Online Blogging&gt;</h1>
    </div>
  </div>
</section>
