<!DOCTYPE html>
<html lang="en">
  <head>
    {{> meta}}
  </head>
  <body>
    {{> header}}

    {{#blogs}}
    <li>{{ name }} - {{ subject }}</li>
    <li>{{ message }}</li>
    {{/blogs}}

    <hr />

    {{> footer}}
  </body>
</html>
