body {
  box-sizing: border-box;
}

.header {
  background: black url(images/star.jpg) center / cover;

  .title,
  a {
    color: aliceblue;
  }
}

.wrap {
  width: 1000px;
  margin: 30px auto;
}

.flex-wrap {
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 auto;
}

.flex-column-fix-size {
  height: 300px;
  flex-grow: 0;
  flex-basis: 25%;
}

.fill-height {
  height: 270px;
}
